MONGO_URL=your_mongo_url
MONGO_DB_NAME=your_mongo_db_name
MQTT_BROKER=your_mqtt_broker
MQTT_PORT=your_mqtt_port
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
MQTT_TOPIC_ENVIRONMENT=your_mqtt_topic_environment
MQTT_TOPIC_FACIAL_METRICS=your_mqtt_topic_facial_metrics
APP_NAME=EduSense
DEBUG=true
JWT_SECRET=your_secret
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=your_jwt_expires_minutes
FRONTEND_URLS=your_frontend_urls